PORT=your_port;
NODE_ENV=your environment
MONGODB_URI=your_mongodb_uri
JWT_ACCESS_SECRET=<anystrongsecret>
JWT_ACCESS_EXPIRY=15min
JWT_REFRESH_SECRET=<strongstringsecretgoeshere>
JWT_REFRESH_EXPIRY=24hr